@model UCPPraktikam1.Models.Transaksi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jumlahsapi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jumlahsapi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tgltransaksi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tgltransaksi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdpembeliNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpembeliNavigation.Idpembeli)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdsapiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdsapiNavigation.IdSapi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idtransaksi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
