@model IEnumerable<UCPPraktikam1.Models.Transaksi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Jumlah sapi")
            </th>
            <th>
                @Html.DisplayName("Tgl transaksi")
            </th>
            <th>
                @Html.DisplayName("Id pembeli Navigation")
            </th>
            <th>
                @Html.DisplayName("Id sapi Navigation")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlahsapi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tgltransaksi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdpembeliNavigation.Idpembeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdsapiNavigation.IdSapi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idtransaksi"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Idtransaksi"><i class="fa fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Idtransaksi"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
