@model UCPPraktikam1.Models.Sapi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sapi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaSapi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaSapi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stocksapi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stocksapi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HargaSapi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HargaSapi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSapi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
